#education-training {
    .items-wr.bottom {
        position: relative;
        padding-top: 1px;
        /*&:before{
            content:'';
            position:absolute;
            top:0;
            right:0;
            left:0;
            border-top:1px dashed grey;
        }*/
        .line {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 5px;
            background: url('../images/circle-bg.svg') repeat-x;
            background-size: 7.5px 2.5px;
        }
    }

    .item {
        width: calc(30% - 20px);

        .img-wr {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 50px;
                margin: 0 20px;
            }

            &.has-two {
                img {
                    max-width: 30%;
                }
            }
        }

        .description {
            @extend .paragraph;
            font-family: $aleo-l;
            color: #909090;
            font-size: 0.9rem;
            line-height:1rem;
            text-align: center;
        }

        .info {
            padding-top: 1rem;
            text-align: center;
            font-size: 0.9rem;
            line-height: 1.2rem;
            position: relative;

            .duration {
                font-family: $aleo-r;
            }

            .title {
                font-family: $aleo-b;
            }

            &:before {
                content: '';
                position: absolute;
                //display: block;
                width: 10px;
                height: 10px;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 0;
                transform: translateY(-50%);
                border-radius: 50%;
                background: #ce5e23;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
                height: 10px;
                width: 2px;
                background: #ce5e23;
                transform: translateY(-100%);
            }
        }
    }
}

#skills-tools {
    .items-wr {
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            height: 1px;
            width: 100%;
            //  background:red;
        }

        .item {
            $w: 100/ 6 + 0%;
            width: calc( 100%/6 - 1px );
            //  background: transparentize(#000,0.95);
            //  box-shadow:0px 0px 0px 1px transparentize(#000,0.95) inset;
            outline: 1px solid #f7f7f7;

            .item-inner {
                padding-bottom: 100%;
                position: relative;

                .skill {
                    @include abs;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 0;
                        @include abs;

                        img {
                            transform-origin: center center;
                            transform: scale(0.5);
                            max-height: 100%;
                            transition: transform 0.3s;
                        }
                    }

                    .description {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        box-sizing: border-box;
                        padding: 20px 0 0;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            border-top: 1px solid transparentize(#000,0.7);
                            left: 0;
                            top: 20px;
                            transition-property: transform;
                            transition-delay: 0s;
                            transition-duration: 0.1s;
                            transform: rotateY(90deg);
                        }

                        p {
                            width: 100%;
                            //padding: 20px 0 0;
                            position: relative;
                            line-height:1.2rem;
                            span {
                                visibility: hidden;
                                opacity: 0;
                                display: block;
                                transform: translateY(50%);
                                transition-property: opacity, transform;
                                transition-delay: 0s;
                                transition-duration: 0.1s;
                            }
                        }
                    }
                }
            }

            &:hover {
                background: transparentize(#000,0.95);

                .item-inner .skill i img {
                    transform: scale(0.4) translateY(-50%);
                }

                .item-inner .skill .description {
                    &:before {
                        transform: rotateY(0deg);
                        transition-delay: 0.2s;
                        transition-duration: 0.3s;
                    }

                    p {
                        span {
                            visibility: visible;
                            opacity: 1;
                            transform: translateY(0);
                            transition-delay: 0.2s;
                            transition-duration: 0.3s;
                        }
                    }
                }
            }
        }
    }
}

#projects {
    .items-wr {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .item {
        //width: 33.33333%;
        width: calc(100% / 3 - 2px);
        outline: 1px solid transparentize(#fff,0);
        margin: 1px;
        cursor: pointer;

        .item__ratio {
            padding-top: 100%;
            position: relative;

            .item__inner {
                @include abs;
                overflow: hidden;

                .snapshot {
                    @include abs;
                    overflow: hidden;

                    &:before, &:after {
                        z-index: 0;
                        content: '';
                        position: absolute;
                        $const: 0;
                        left: $const;
                        right: $const;
                        top: $const;
                        bottom: $const;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        transform: scale(1.05);
                        transform-origin: center center;
                        transition: transform 0.5s;
                    }

                    &:after {
                        z-index: 1;
                        filter: blur(10px);
                        transform: scale(1.05);
                        transition: filter 0.5s,transform 0.5s;
                    }
                    /*&:hover:after {
                        
                    }*/
                }
                /*&:before {
                    content: '';
                    @include abs;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center top;
                    opacity: 1;
                    filter: blur(5px);
                    transform: scale(1.05);
                    transition: transform 0.3s ease,opacity 0.3s ease;
                    z-index: 0;
                }*/
                &:after {
                    z-index: 1;
                    content: '';
                    @include abs;
                    background-size: 50% auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                    transition: opacity 0.3s,transform 0.3s;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                background: transparentize(#fff,0);
                /*mask: url(/assets/images/projects/activia-logo.png) no-repeat center center;
                mask-size:100% 100%;*/
            }
        }

        &:hover {
            .item__ratio .item__inner {
                .snapshot {
                    &:before, &:after {
                        //opacity:0.5;
                        transform: scale(1);
                        filter: blur(0);
                        opacity: 1;
                    }
                }

                &:after {
                    opacity: 0;
                    transform: scale(1.2);
                }
                // background:transparentize(#000,0.25);
            }
        }

        $projects: activia suzuki bhub pmu pepsi avellum minute;
        $colors: #66B751 #fff #fff #07599F #084D92 #5F3B79 #fff;

        @each $project in $projects {
            $i: index($projects, $project);

            &.#{$project} {
                .item__ratio .item__inner {
                    .snapshot {
                        &:before, &:after {
                            background-image: url("../images/projects/#{$project}-promo.jpg");
                        }
                    }

                    &:after {
                        z-index: 1;
                        //nth($background-colors-list, $i);
                        background-color: transparentize(nth($colors, $i),0.25);
                        background-image: url(../images/projects/#{$project}-logo.png);
                    }
                }
            }
        }
        /*&.activia {
            .item__ratio .item__inner {
                .snapshot {
                    &:before, &:after {
                        background-image: url(../images/projects/activia-snapshot.png);
                    }
                }

                &:after {
                    z-index: 1;
                    background-color: transparentize(#66B751,0.25);
                    background-image: url(../images/projects/activia-logo.png);
                }
            }
        }

        &.suzuki {
            .item__ratio .item__inner {
                .snapshot {
                    &:before, &:after {
                        background-image: url(../images/projects/suzuki-snapshot.png);
                    }
                }


                &:after {
                    background-color: transparentize(#fff,0.25);
                    background-image: url(../images/projects/suzuki-logo.png);
                }
            }
        }

        &.bhub {
            .item__ratio .item__inner {
                .snapshot {
                    &:before, &:after {
                        background-image: url(../images/projects/bhub-snapshot.png);
                    }
                }

                &:after {
                    background-color: transparentize(#fff,0.25);
                    background-image: url(../images/projects/bhub-logo.png);
                }
            }
        }*/
    }


}
.popup {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #66b751;
    //   background-image: url("../images/projects/green-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*transition-property: left, top, width,height;
    transition-duration: 0.5s;*/
    $projects: activia suzuki bhub pmu pepsi avellum minute;
    //  $url:"../images/projects/green-bg.jpg" "../images/projects/green-bg.jpg";
    @each $project in $projects {
        $i: index($projects, $project);

        &.#{$project}, &-pseudo.#{$project} .inner {
            background-image: url(../images/projects/#{$project}-bg.jpg);
        }

        &.#{$project} .project__logo .inner:before {
            background-image: url(../images/projects/#{$project}-promo.jpg);
        }

        &.#{$project} .wr.#{$project} {
            &:before {
                content: '';
                @include abs;
                background-image: url(../images/projects/#{$project}-bg.jpg);
                background-size: cover;
                background-attachment: fixed;
                background-position: 50%;
                /* background-size: 100vh 100vw; */
                z-index: -1;
                -webkit-filter: blur(20px);
                margin: -20px;
            }
        }
    }

    &-pseudo {
        position: fixed;
        z-index: 1;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;

        .inner {
            position: fixed;
            left: 0 !important;
            top: 0 !important;
            width: 100% !important;
            height: 100% !important;
            background-size: cover;
            //   background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &.is-animated {
            transition-property: left, top, width,height,opacity;
            transition-duration: 0.5s;

            transition-timing-function:ease-in-out;
        }

        &.opened {
            opacity: 1;
            left: 0 !important;
            top: 0 !important;
            width: 100% !important;
            height: 100% !important;
        }

        &.fade-out {
            opacity: 0;
        }
    }

    .popup-wr {
        height: 100%;
    }

    .project {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translateY(-10px);
        transition-property: opacity, transform;
        transition-duration: 0.4s;
        transition-timing-function:ease-in-out;

        .wr {
            display: none;

            &.active {
                display: block;
            }

            background: transparentize(#fff, 0.7);
            //   height: calc(100% - 80px);
            position: relative;
            width: 50%;
            padding: 40px;
            box-sizing: border-box;

            .close-icon {
                cursor: pointer;
                right: -40px;
                top: -40px;
                height: 30px;
                width: 30px;
                position: absolute;
                /*&:before {
                    content: '✕';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size
                }*/
                &:before, &:after {
                    content: '';
                    background: $darkgrey;
                    width: 80%;
                    height: 3px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform-origin: center center;
                    transition-property: width, background;
                    transition-duration: 0.3s;
                }

                &:before {
                    transform: translate(-50%,-50%) rotate(-45deg);
                }

                &:after {
                    transform: translate(-50%,-50%) rotate(45deg);
                }

                &:hover {
                    &:before, &:after {
                        width: 90%;
                        background: $orange;
                    }
                }

                &:active {
                    &:before, &:after {
                        width: 100%;
                        background: lighten($orange,30%);
                    }
                }
            }
        }

        header {
            display: flex;
            flex-wrap: nowrap;
        }

        &__logo {
            width: 30%;
            box-sizing: border-box;

            .inner {
                padding-top: 100%;
                position: relative;

                &:before {
                    content: '';
                    @include abs;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    background-image: url(../images/projects/activia-promo.png);
                }
            }
        }

        &__description {
            width: 70%;
            padding-left: 80px;

            h4 {
                // @extend h3;
                font-family: $aleo-b;
                font-size: 1.2rem;
                line-height: 2rem;
                //padding:0.5rem 0;
                margin-bottom: 1rem;
                border-bottom: 3px solid $orange;
                display: flex;
                justify-content: space-between;

                span {
                    text-transform: uppercase;
                }

                a {
                    font-size: 1rem;
                    font-family: $aleo-l;
                    transition: color 0.3s;

                    &:hover {
                        //color: lighten(#383938,20%);
                        color: lighten($orange,10%);
                    }
                }
            }

            p {
                font-family: $proxima-r;
            }
        }
    }

    &.active {
        z-index: 1;
        visibility: visible;
        pointer-events: all;

        .project {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }
    }
}
