@media only screen and (max-width: 1280px) {
    .wr {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1024px) {
    #projects .popup .project .wr{
        width:calc(90% - 40px);
    }
    html, body {
       font-size:14px;
    }
    h1{
        font-size:2rem;
        text-align:center;
    }
    section{
        padding:50px 0;
    }
    .location{
        text-align:center;
    }

      header#header {
          padding:20px 0 30px;
          margin:0 0 30px;
      }
    header#header .items-wr{
          flex-flow: column;
          .right{
              order:-1;
              flex-direction:column;
              .avatar{
                  margin:30px auto; 
                  max-width:100px;
                  .rhombus{
                      width:75px;
                      height:75px;
                  }
              }
          }
    }
    #experience ,#education-training{
        .items-wr {
            flex-flow: column;
        }

        .item {
            width: auto;
        }
    }
    #education-training .items-wr.bottom{
        display:none;
    }
    #skills-tools .items-wr .item {
        width: calc( 100%/4 - 1px);
    }

    #projects .item {
        width: calc(100% / 2 - 2px);
    }
}

@media only screen and (max-width:768px ) {
       #projects .popup .project .wr{
        width:calc(100% - 20px);
        padding:20px ;
        .close-icon{
            width:15px;
            height:15px;
            top:5px;
            right:5px;
        }
        header {
            flex-flow:column;
            .project__logo{
                margin: 20px auto ;
                width:30%;
                
            }
            .project__description{
                width:auto;
                padding:0;
            }
        }
    }
}